In [113]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import math as m
import pandas as pd

amazonResults = pd.read_csv('AmazonResults.csv')

amazonResults = pd.DataFrame(amazonResults)

In [114]:
amazonResults.head()

,Description,Price,Rating,ReviewCount,URL
0,"Electriq 43"" Super UltraWide 120Hz Curved Monitor",£449.98,3.8 out of 5 stars,3,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...
1,Philips 345E2AE - 34 Inch WQHD Ultrawide Monit...,£339.59,4.3 out of 5 stars,80,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...
2,"Samsung S34J550WQR - LED monitor - 34.1"" - 344...",£268.99,4.2 out of 5 stars,39,/Samsung-S34J550WQR-monitor-2xHDMI-DisplayPort...
3,LG UltraWide 25UM58 25-inch IPS Monitor (2560 ...,£125.30,4.6 out of 5 stars,"5,009",/LG-25UM58-inch-Ultrawide-Monitor/dp/B01BV1XB2...
4,Philips 345E2AE - 34 Inch WQHD Ultrawide Monit...,£339.59,4.3 out of 5 stars,80,/Philips-345E2AE-Ultrawide-FreeSync-Speakers/d...

In [115]:
amazonResults = amazonResults.drop('URL', 1)

In [116]:
numDuplicates = len(amazonResults[amazonResults.duplicated()])
print("There are " + str(numDuplicates) + " duplicates")

There are 118 duplicates

In [117]:
amazonResults = amazonResults.drop_duplicates()
amazonResults.shape

(245, 4)

## Need to convert price column values into floats:

In [118]:
def priceToFloat(price):
    price = price.replace(',', '')
    return float(price.replace('£', ''))

In [119]:
amazonResults['Price'] = amazonResults['Price'].apply(priceToFloat)

## Need to convert rating column values into floats:

In [120]:
def ratingToFloat(rating):
    if str(rating) == 'nan':
        return 0
    
    return float(rating[:3])

In [121]:
amazonResults['Rating'] = amazonResults['Rating'].apply(ratingToFloat)

## Need to convert review count into integers:

In [124]:
def reviewCountToInteger(reviewCount):
    reviewCount = str(reviewCount).strip(',')
    
    try:
        reviewCount = int(reviewCount)
    except:
        return 0
    
    return reviewCount

In [125]:
amazonResults['ReviewCount'] = amazonResults['ReviewCount'].apply(reviewCountToInteger)